<style> 
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

#post_list ul {
	text-align: left;list-style: none;margin: 0em;padding: 0em;max-width: 100%;width: 100%;
 	
 	}
#post_list ul li {
	text-align: left;list-style: none;margin: 0em;padding: 0em;max-width: 100%;width: 100%;
 	
 	}

.btn {
display: inline-block;
    margin-bottom: 0.25em;
    padding: 0.5em 1em;
    font-family: -apple-system,BlinkMacSystemFont,"Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-width: 0;
    border-radius: 4px;
    cursor: pointer;
}
.btn--success {
  background-color: #3fa63f;color: #fff !important;
}
.pad_size1 {
  padding: 1em 1em 1em 1em;
}
.pad_size2 {
  padding: 2em 2em 2em 2em;
}
.pad_top_down{
      padding: 2em 0 2em 0;
}

.idxStyle{
margin-left:0.3em;
color:#000000;
font-size: 2em;  
}
.idxStyle .redSy{
margin-left:0.3em;
color:red;
font-size: 0.5em;  
}
.idxStyle .blueSy{
margin-left:0.3em;
color:blue;
font-size: 0.5em;  
}
.idxStyle .category{
float: right;
font-size: 0.4em;
margin-right: 0.4em;  
}
.idxMoneyStyle{
margin-left:0.3em;
color:#000000;
font-size: 1em;  
}
.idxMoneyStyle .redSy{
margin-left:0.3em;
color:red;
font-size: 0.7em;  
}
.idxMoneyStyle .blueSy{
margin-left:0.3em;
color:blue;
font-size: 0.7em;  
}
.post_left{
  text-align:left;
}
.idxBkImg{
  background-color: #ffffff !important;
}
.button_sy3{
    padding:0.3em;
    line-height: 1em;
    font-size: 1em;
    background-color: #B2CCFF;
    display: inline-block;
    text-align: center;
    font-weight: 1000;
    color: #fff !important;
}
.idxBkImg{
  background-color: #ffffff !important;
}
.section, .aside {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.section {
  clear:both;
    break-inside: avoid;
    margin: 0 0 2em 0;
    padding: 1.3em 1em 0 1em;
}
div.figure {
  float: left;
  width: 15%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
img.scaled {
  width: 100%;
}
</style>

 