---
layout: default
title:  "2020년 쎈(SSEN) 중등수학 1 2 3 상 하" 
description: 2020년정답 쎈(SSEN) 중등수학 1 2 3 상 하 정답 다운로드 pdf
img: https://i.ibb.co/fndn1x4/219-2.png
date: 2020-08-10 23:50:01 
permalink: /ssenssen/
---
<div class="main_text">       
          <!-- askview_메인_상단 -->
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3309468445717403"
               data-ad-slot="1034729628"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          </div>
<div id="container" style="text-align: left;">
 
<table >
     <thead>
     <!-- subMenu START -->
      {% include submenu.html %}
     <!-- subMenu END -->
     <tr>
          <th>**쎈(SSEN) 중등 수학1(상) / 수학1(하)**</th>
     </tr>
     </thead>
     <tbody>
     <tr>
          <td>
               &nbsp;수학1(상) : I. 자연수의 성질 - 1. 소인수분해, 2. 최대공약수와 최소공배수<br>
               Ⅱ. 정수와 유리수 - 3. 정수와 유리수, 4. 유리수의 계산<br>
               Ⅲ. 방정식 - 5. 문자와 식, 6. 일차방정식의 풀이, 7. 일차방정식의 활용<br>
               Ⅳ. 그래프와 비례 - 8. 좌표평면과 그래프, 9. 정비례와 반비례<br> <br>
               &nbsp;수학1(하) : Ⅴ. 기본 도형 - 10. 기본 도형, 11. 위치 관계, 12. 평행선, 13. 작도와 합동<br>
               Ⅵ 평면도형 - 14. 다각형, 15. 원과 부채꼴<br>
               Ⅶ 입체도형 - 16. 다면체와 회전체, 17. 입체도형의 겉넓이와 부피<br>
               Ⅷ 통계 - 18. 자료의 정리와 해석
          </td>        
          </td>
     </tr>
     <tr>
          <td style="text-align: center;">
               <div class="button_sy3">                              
               <a href="https://drive.google.com/file/d/1XP5514x6Na-2rTxVl6k73V1vYCWgLVhX/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학1상 다운로드]</a> / <a href="https://drive.google.com/file/d/16PRI8ETUZL1gAO022rDaCMDcltNMox9z/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학1하 다운로드]</a>
               </div>       
              <!-- askview_텍스트광고2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gr-1i+57-1e-76"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="9078433309"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>
     </tr>
     </tbody>
</table>

<table>
     <thead><tr><th>**쎈(SSEN) 중등 수학2(상) / 수학2(하)**</th></tr></thead>
     <tbody>
     <tr>
          <td>&nbsp;수학2(상) : Ⅰ. 수와 식 - 1. 유리수와 소수, 2. 단항식의 계산, 3. 다항식의 계산<br>
               Ⅱ. 부등식 - 4. 일차부등식, 5. 일차부등식의 활용<br>
               Ⅲ. 방정식 - 6. 연립일차방정식의 풀이, 7. 연립일차방정식의 활용<br>
               Ⅳ. 함수 - 8. 일차함수와 그래프(1), 9. 일차함수와 그래프(2), 10. 일차함수와 일차방정식의 관계<br><br>
               수학2(하) : Ⅰ. 삼각형의 성질 - 1. 삼각형의 성질⑴, 2. 삼각형의 성질⑵<br>
               Ⅱ. 사각형의 성질 - 3. 평행사변형, 4. 여러 가지 사각형<br>
               Ⅲ. 도형의 닮음 - 5. 도형의 닮음, 6. 평행선 사이의 선분의 길이의 비, 7. 삼각형의 무게중심, 8. 닮음의 활용<br>
               Ⅳ. 피타고라스 정리 - 9. 피타고라스 정리<br>
               Ⅴ. 확률 - 10. 경우의 수, 11. 확률  
          </td>
     </tr>
      <tr>
          <td style="text-align: center;"> 
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/17TPZ6X-dMO8XuR97ns6xtY8fOXCpjqz5/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학2상 다운로드]</a> /  <a href="https://drive.google.com/file/d/1fji984W0PjLp1q-hXRf6iXyTV3Onj4NG/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학2하 다운로드]</a>
               </div> 
               
<!-- askview_콘텐츠자동삽입 -->
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="3199420661"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>         
     </tr>
     </tbody>
</table>
<table>
     <thead><tr><th>**쎈(SSEN) 중등 수학3(상) / 수학3(하)**</th></tr></thead>
     <tbody>
     <tr>
          <td>
               수학3(상) : Ⅰ. 제곱근과 실수 - 1. 제곱근의 뜻과 성질, 2. 무리수와 실수, 3. 근호를 포함한 식의 곱셈과 나눗셈, 4. 근호를 포함한 식의 덧셈과 뺄셈<br>
               Ⅱ. 다항식의 곱셈과 인수분해 - 5. 다항식의 곱셈, 6. 다항식의 인수분해<br>
               Ⅲ. 이차방정식 - 7. 이차방정식의 풀이, 8. 이차방정식의 활용<br>
               Ⅳ. 이차함수 - 9. 이차함수의 그래프 ⑴, 10. 이차함수의 그래프 ⑵<br><br>
               수학3(하) : Ⅰ 삼각비 - 1. 삼각비, 2. 삼각비의 활용<br>
               Ⅱ 원의 성질 - 3. 원과 직선, 4. 원주각, 5. 원주각의 활용<br>
               Ⅲ 통계 - 6. 대푯값과 산포도, 7. 상관관계               
          </td>          
     </tr>
      <tr>
          <td style="text-align: center;"> 
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/14qCuBAwvBG6w6VK-O1gaKN97mBNEKaYN/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학3상 다운로드]</a> /  <a href="https://drive.google.com/file/d/1VLKQ853UAg3gr00pivqqjOPwmdwooChX/view?usp=sharing" target="_blank">[(정답) 쎈(SSEN) 중등수학3하 다운로드]</a>
               </div>
               
               <!-- askview_상단_디스플레이 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="4626845495"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>         
     </tr>
     </tbody>
</table>
<!-- disqus -->
{% include disqus.html %}
{% include thnum_list.html %}  
</div> <!-- container -->