---
layout: default
title:  "﻿2020 답지 - 우공비 중등수학,초등수학 정답" 
description: 2020년정답 우공비 초등수학 4학년 5학년 6학년 중등수학 1 2 3 상 하 정답 다운로드 pdf
img: https://i.ibb.co/QrLPWfv/woo-resize.jpg
date: 2020-07-29 01:01:07 
permalink: /woo/
---
<div class="main_text">       
          <!-- askview_메인_상단 -->
          <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
          <ins class="adsbygoogle"
               style="display:block"
               data-ad-client="ca-pub-3309468445717403"
               data-ad-slot="1034729628"
               data-ad-format="auto"
               data-full-width-responsive="true"></ins>
          <script>
               (adsbygoogle = window.adsbygoogle || []).push({});
          </script>
          </div>
<div id="container" style="text-align: left;">
 
<table >
     <thead>     
     <!-- subMenu START -->
      {% include submenu.html %}
     <!-- subMenu END -->
     <tr>
          <th>**우공비 초등수학 4**</th>
     </tr>
     </thead>
     <tbody>
     <tr>
          <td>
               &nbsp;4-1 - 1.큰 수, 2.각도, 3.곱셈과 나눗셈, 4.평면도형의 이동, 5.막대그래프, 6.규칙 찾기<br>
               4-2 - 1. 분수의 덧셈과 뺄셈, 2. 삼각형, 3. 소수의 덧셈과 뺄셈, 4. 사각형, 5. 꺾은선그래프, 6. 다각형
          </td>
     </tr>
     <tr>
          <td style="text-align: center;">
               <div class="button_sy3">                              
               <a href="https://drive.google.com/file/d/19ciO0BZBj7npfB4il9D7Axm1x993-Wkl/view?usp=sharing">[(정답) 우공비 초등수학 4-1 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/19txxsf1vfClNmmBrUF4dijweyFjAHqvO/view?usp=sharing">[(정답) 우공비 초등수학 4-2 다운로드]</a>
               </div>       
           <!-- askview_텍스트광고2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gr-1i+57-1e-76"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="9078433309"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>
     </tr>
     </tbody>
</table>
<table >
     <thead><tr><th>**우공비 초등수학 5**</th></tr></thead>
     <tbody>
     <tr>
          <td>&nbsp;5-1 - 1. 자연수의 혼합 계산, 2. 약수와 배수, 3. 규칙과 대응, 4. 약분과 통분, 5. 분수의 덧셈과 뺄셈, 6. 다각형의 둘레와 넓이<br>
               5-2 - 1. 수의 범위와 어림하기, 2. 분수의 곱셈, 3. 합동과 대칭, 4. 소수의 곱셈, 5. 직육면체, 6. 평균과 가능성
          </td>
     </tr>
     <tr>
          <td style="text-align: center;"> 
               <div class="button_sy3">              
               <a href="https://drive.google.com/file/d/1RpieLKc8RKZREyVmMlg6TjBGzo1mTeE6/view?usp=sharing" target="_blank">[(정답) 우공비 초등수학 5-1 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/16LiC7vj8TkdwcOCUOT8IT4VuLP3LMK4E/view?usp=sharing" target="_blank">[(정답) 우공비 초등수학 5-2 다운로드]</a>
               </div>
               <!-- askview_상단_디스플레이 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="4626845495"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>
     </tr>
     </tbody>
</table>
<table>
     <thead><tr><th>**우공비 초등수학 6**</th></tr></thead>
     <tbody>
     <tr>
          <td>&nbsp;6-1 -1. 분수의 나눗셈, 2. 각기둥과 각뿔, 3. 소수의 나눗셈, 4. 비와 비율, 5. 여러 가지 그래프, 6. 직육면체의 부피와 겉넓이<br>
               6-2 - 1. 분수의 나눗셈, 2. 소수의 나눗셈, 3. 공간과 입체, 4. 비례식과 비례배분, 5. 원의 넓이, 6. 원기둥, 원뿔, 구
          </td>
     </tr>
      <tr>
          <td style="text-align: center;"> 
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/1yF1PhATI7Rgb4UCL1yFPa6VBkwQwcJEO/view?usp=sharing" target="_blank">[(정답) 우공비 초등수학 6-1 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/1a5tEsjAPS_doe34AyAY_4529_YKbawbr/view?usp=sharing" target="_blank">[(정답) 우공비 초등수학 6-2 다운로드]</a>
               </div> 
               
 <!-- askview_콘텐츠자동삽입 -->
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="3199420661"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>         
     </tr>
     </tbody>
</table>
<table>
     <thead><tr><th>**우공비 중등수학1**</th></tr></thead>
     <tbody>
     <tr>          
          <td>
               &nbsp;수학1상 - I. 수와 연산, 1 소인수분해, 2 정수와 유리수, 3 유리수의 계산<br>
               &nbsp;&nbsp;&nbsp;Ⅱ. 방정식, 1 문자와 식, 2 일차방정식<br>
               &nbsp;&nbsp;&nbsp;Ⅲ. 그래프와 비례, 1 좌표평면과 그래프, 2 정비례와 반비례<br>
               수학1하 -Ⅳ 기본 도형, 1 기본 도형, 2 위치 관계, 3 작도와 합동<br>
               &nbsp;&nbsp;&nbsp;Ⅴ 평면도형, 1 다각형, 2 원과 부채꼴<br>
               &nbsp;&nbsp;&nbsp;Ⅵ 입체도형, 1 다면체와 회전체, 2 입체도형의 겉넓이와 부피<br>
               &nbsp;&nbsp;&nbsp;Ⅶ 통계, 1 자료의 정리와 해석 
          </td>   
     </tr>
      <tr>
         <td style="text-align: center;"> 
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/1XMQHm6uotJe6bQ83_pnZaQTR3ZUZRGzD/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학1(상) 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/1xdH9lvf9qBoKPpsYHsfR-9orZxLZqDUI/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학1(하) 다운로드]</a>
               </div>
               
              <!-- askview_상단_디스플레이 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="4626845495"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>          
     </tr>
     </tbody>
</table>


<table>
     <thead><tr><th>**우공비 중등수학2**</th></tr></thead>
     <tbody>
     <tr>
          <td>
                &nbsp;수학2상 - I. 수와 식, 1 유리수와 소수, 2 단항식의 계산, 3 다항식의 계산<br>
               &nbsp;&nbsp;&nbsp;Ⅱ. 부등식과 방정식, 1 일차부등식, 2 연립일차방정식<br>
               &nbsp;&nbsp;&nbsp;Ⅲ. 함수, 1 일차함수와 그래프, 2 일차함수와 일차방정식의 관계<br>
               수학2하 -  I. 도형의 성질, 1 삼각형의 성질, 2 사각형의 성질<br>
               &nbsp;&nbsp;&nbsp;Ⅱ. 도형의 닮음, 1 도형의 닮음, 2 평행선 사이의 선분의 길이의 비, 3 닮음의 활용<br>
               &nbsp;&nbsp;&nbsp;Ⅲ. 피타고라스 정리, 1 피타고라스 정리<br>
               &nbsp;&nbsp;&nbsp;Ⅳ. 확률, 1 경우의 수, 2 확률      
          </td>          
     </tr>
      <tr>
          <td style="text-align: center;"> 
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/1wJXGaZ2LIqDBuwmriDH9Vouou2bVTEgw/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학2(상) 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/1nEcTKerjv0f3VZUKdZe_AeNkIYOGCydd/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학2(하) 다운로드]</a>
               </div>
               
              <!-- askview_상단_디스플레이 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="4626845495"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>         
     </tr>
     </tbody>
</table>
<table>
     <thead><tr><th>**우공비 중등수학3**</th></tr></thead>
     <tbody>
     <tr>
          <td>
                &nbsp;수학3상 - I. 제곱근과 실수, 1 제곱근과 실수, 2 근호를 포함한 식의 계산<br>
               &nbsp;&nbsp;&nbsp;Ⅱ. 다항식의 곱셈과 인수분해, 1 다항식의 곱셈, 2 다항식의 인수분해<br>
               &nbsp;&nbsp;&nbsp;Ⅲ. 이차방정식, 1 이차방정식의 풀이, 2 이차방정식의 활용<br>
               &nbsp;&nbsp;&nbsp;Ⅳ. 이차함수, 1 이차함수의 그래프 (1), 2 이차함수의 그래프 (2)<br>
               수학3하 - I. 삼각비, 1 삼각비, 2 삼각비의 활용<br>
               &nbsp;&nbsp;&nbsp;Ⅱ. 원의 성질, 1 원과 직선, 2 원주각<br>
               &nbsp;&nbsp;&nbsp;Ⅲ. 통계, 1 대푯값과 산포도, 2 상관관계
          </td>
     </tr>
      <tr>
          <td style="text-align: center;">             
               <div class="button_sy3">
               <a href="https://drive.google.com/file/d/130jxKnYxBvaUGxyUyAdm7eGNBL2FmC3S/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학3(상) 다운로드]</a> / 
               <a href="https://drive.google.com/file/d/13zzR6per0srHnGXpN9P1MVnSJlXUSJGo/view?usp=sharing" target="_blank">[(정답) 우공비 중등수학3(하) 다운로드]</a>
               </div>               
 <!-- askview_텍스트광고2 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gr-1i+57-1e-76"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="9078433309"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
          </td>
     </tr>
     </tbody>
</table>

<!-- disqus -->
{% include disqus.html %}
{% include thnum_list.html %}  
</div> <!-- container -->