<div class="page-footer pad_size1">
<footer>
	<p><a href="/"><h3>HOME</h3></a></p>
    <p style="margin: 0">Copyrights {{site.time | date: '%Y'}}. All Rights Reserved by {{site.title}}</p>   
    <p>
<!-- askview_텍스스트광고2-->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-gr-1i+57-1e-76"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="9078433309"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</p>
</footer>
<div>