<head>
    <meta charset="UTF-8">
    <meta name="description" content="{% if page.desctiption %}{{page.desctiption}} - {{site.desctiption}}{% else %}{{site.desctiption}}{% endif %}">
	<meta property="og:type" content="website"> 
	<meta property="og:title" content="{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}">
	<meta property="og:description" content="{% if page.desctiption %}{{page.desctiption}} - {{site.desctiption}}{% else %}{{site.desctiption}}{% endif %}">
	<meta property="og:image" content="https://sangkuahn.github.io/images/askview.png">
	<meta property="og:url" content="https://sangkuahn.github.io">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>
	
	<!--  JQUERY -->
	<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
	 
	<!--  BOOTSTRAP -->	       
    <link rel="stylesheet" href="/css/main.css">  
    <link rel="stylesheet" href="/css/post.css"> 
    <meta name="viewport" content="width=device-width, initial-scale=1"> 

   
    {% seo %}    
</head>
