<head>
    <meta charset="UTF-8">
    <title>{% if page.title %}{{page.title}} - {{site.title}}{% else %}{{site.title}}{% endif %}</title>  
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700" rel="stylesheet">
    <link rel="stylesheet" href={{ "/css/main.css" | prepend: site.baseurl }}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <div>
    <nav>
		<span><a href="{{site.baseurl}}/category/1001/">여성패션</a></span>
		<span><a href="{{site.baseurl}}/category/1002/">남성패션</a></span>
		<span><a href="{{site.baseurl}}/category/1003/">베이비패션 (0~3세)</a></span>
		<span><a href="{{site.baseurl}}/category/1004/">여아패션 (3세 이상)</a></span>
		<span><a href="{{site.baseurl}}/category/1005/">남아패션 (3세 이상)</a></span>
		<span><a href="{{site.baseurl}}/category/1006/">스포츠패션</a></span>
		<span><a href="{{site.baseurl}}/category/1007/">신발</a></span>
  	</nav>
	</div>
</head>