<a href="{{site.baseurl}}/">
	<h1 class="header-title" style="font-size: 1.5em;color: #999">{{site.title}}&nbsp;<i  aria-hidden="true" style="display: inline-block;
    font: normal normal normal 19px/6 FontAwesome;padding: 5px 7px;background: #333;"></i></h1>
</a>
<a href="{{site.baseurl}}/">Home</a>
<a href="{{site.baseurl}}/category/1001/">여성패션</a>
<a href="{{site.baseurl}}/category/1002/">남성패션</a>
<a href="{{site.baseurl}}/category/1003/">베이비패션 (0~3세)</a>
<a href="{{site.baseurl}}/category/1004/">여아패션 (3세 이상)</a>
<a href="{{site.baseurl}}/category/1005/">남아패션 (3세 이상)</a>
<a href="{{site.baseurl}}/category/1006/">스포츠패션</a>
<a href="{{site.baseurl}}/category/1007/">신발</a>
<a href="{{site.baseurl}}/category/1008/">가방/잡화</a>
<a href="{{site.baseurl}}/category/1010/">뷰티</a>
<a href="{{site.baseurl}}/category/1011/">출산/유아동</a>
<a href="{{site.baseurl}}/category/1012/">식품</a>
<a href="{{site.baseurl}}/category/1013/">주방용품</a>
<a href="{{site.baseurl}}/category/1014/">생활용품</a>
<a href="{{site.baseurl}}/category/1015/">홈인테리어</a>
<a href="{{site.baseurl}}/category/1016/">가전디지털</a>
<a href="{{site.baseurl}}/category/1017/">스포츠/레저</a>
<a href="{{site.baseurl}}/category/1018/">자동차용품</a>
<a href="{{site.baseurl}}/category/1019/">도서/음반/DVD</a>
<a href="{{site.baseurl}}/category/1020/">완구/취미</a>
<a href="{{site.baseurl}}/category/1021/">문구/오피스</a>
<a href="{{site.baseurl}}/category/1024/">헬스/건강식품</a>
<a href="{{site.baseurl}}/category/1025/">국내여행</a>
<a href="{{site.baseurl}}/category/1026/">해외여행</a>
<a href="{{site.baseurl}}/category/1029/">반려동물용품</a>