<div class="search-content__inner-wrap">
<form onsubmit="return googleCustomSearchExecute();" id="cse-search-box-form-id">
    <label class="sr-only" for="cse-search-input-box-id">
      'Enter your search term...'
    </label>
    <input type="search" id="cse-search-input-box-id" class="search-input" size="100%" tabindex="-1" placeholder="Enter your search term..." />
  </form>
  <div id="results" class="results">
    <gcse:searchresults-only></gcse:searchresults-only>
  </div>
</div>
