/* ==========================================================================
   SEARCH
   ========================================================================== */

.layout--search {
  .archive__item-teaser {
    margin-bottom: 0.25em;
  }
}

.search__toggle {
  margin-left: 1rem;
  margin-right: 1rem;
  height: $nav-toggle-height;
  border: 0;
  outline: none;
  color: $primary-color;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;

  &:hover {
    color: mix(#000, $primary-color, 25%);
  }
}

.search-icon {
  width: 100%;
  height: 100%;
}

.search-content {
  display: none;
  visibility: hidden;
  padding-top: 1em;
  padding-bottom: 1em;

  &__inner-wrap {
    max-width: 100% !important;   
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-animation: $intro-transition;
    animation: $intro-transition;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;


  }

  &__form {
    background-color: transparent;
  }

  .search-input {
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: inline-block;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
    box-shadow: 0 1px 1px 0 rgba(85,95,110,.2);
    -webkit-transition: background .4s ease,-webkit-box-shadow .4s ease;
    transition: box-shadow .4s ease,background .4s ease;
    transition: box-shadow .4s ease,background .4s ease,-webkit-box-shadow .4s ease;
    padding: 10px 10px 10px 35px;
    vertical-align: middle;
    white-space: normal;
    max-width: 100% !important;
    font-size: $type-size-3;

    @include media-query($large) {
      font-size: $type-size-2;
    }

    @include media-query($x-large) {
      font-size: $type-size-3;
    }
  }

  &.is--visible {
    display: block;
    visibility: visible;

    &::after {
      content: "";
      display: block;
    }
  }

  .results__found {
    margin-top: 0.5em;
    font-size: $type-size-6;
  }

  .archive__item {
    margin-bottom: 2em;

    @include media-query($large) {
      width: 75%;
    }

    @include media-query($x-large) {
      width: 50%;
    }
  }

  .archive__item-title {
    margin-top: 0;
  }

  .archive__item-excerpt {
    margin-bottom: 0;
  }
}

/* Algolia search */

.ais-search-box {
  max-width: 100% !important;
  margin-bottom: 2em;
}

.archive__item-title .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  text-decoration: underline;
}

.archive__item-excerpt .ais-Highlight {
  color: $primary-color;
  font-style: normal;
  font-weight: bold;
}
