---
layout: default
---
<div id="container">
div id="grid" data-columns class="cols">
{% assign category = page.category | default: page.title %}
{% for post in site.categories[category] %}  
    <div class="box" style="border-radius: 4px 4px 0 0;width: 200px;background-color:#{{post.color}}">
     <input type="hidden" value="{{post.title}}">
        <a href="{{post.linkUrl}}" target="_blank">
           <img style="border-radius: 4px 4px 0 0;width: 200px;" class="feat-image1" src={{ post.img }} alt="{{post.title}}" >
         </a>
          <div class="container">
            <h4>{{post.title}}</h4>
             <div class="action">{{ post.date | date: '%B %d, %Y' }}
               <a href="{{post.url | prepend: site.baseurl}}" target="_blank">
                <i class="fa fa-arrow-right" aria-hidden="true"></i>
              </a>
            </div> 
        </div>   
    
    </div>
{% endfor %}

</div>
</div>