---
layout: compress
---
<!DOCTYPE html>
<html lang="ko">
{% include head.html %}
<body>
	<div id="mySidenav" class="sidenav"><a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
	  {%include menu-links.html%}
	</div>
	<!-- Use any element to open the sidenav -->
	<div>
		<div> id="slid" onclick="openNav()">
			<span style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;padding: 50% 10%;background: #333;" aria-hidden="true">MENU</span>
		</div>
		<div> id="slid2" onclick="goTop()">
			<span style="display: inline-block;font: normal normal normal 14px/1 FontAwesome;padding: 50% 10%;background: #333;" aria-hidden="true">TOP↑</span>
		</div>
	</div>

<div>
	<a href="{{site.baseurl}}">
		<h1 class="header-title">{{site.title}}
			<span class="fa fa-sun-o" aria-hidden="true"></span> 
		</h1>
	</a>
	<h2 class="header-tagline">Best Top.100</h2>
	<div id="main" style="padding: 5% 5% 5% 5%;">
		<div style="padding-bottom: 10px;margin-bottom: 10px;color:#1245AB;"><span>ASK VIEW TOP.100은 매일 갱신(AM:10시30분 FM:18시30분) 됩니다.</span></div>
	
	<div class="gcse-search" style="width: 80%; padding: 0 5% 0 5%;"></div>	
</div>




{{content}}


{% include footer.html %}

</div>
<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "150px";
}
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";    
}
function goTop(){ 	
document.documentElement.scrollTop = 0;
 }

</script>

{% include analytics.html %}
</body>
</html>
