---
layout: default
---
<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<div class="page-container">
    <div class="content">
    <article>
        <div  class="text_center">        
          <h1 class="page-title ">[특가] {{page.title}}</h1>
        </div>
<div  class="text_center">           
<!-- askview_상단_디스플레이 -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="4626845495"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
</div>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {% if page.img %}    
         <div  class="text_center">
          <a href="{{page.linkUrl}}" target="_blank"><img class="feat-image lazyload" data-src="{{page.img}}" alt="{{page.title}}"></a>
        </div>
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-format="fluid"
             data-ad-layout-key="-gu-18+5g-2f-83"
             data-ad-client="ca-pub-3309468445717403"
             data-ad-slot="5330759983"></ins>
        <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        {% endif %}
       {% if page.price %}    
         <div class="text_center pad_size1 pad_top_down">
            <a href="{{page.linkUrl}}" target="_blank" class="btn btn--success">[상품정보 및 가격확인 바로가기]</a>
         </div>          
           <div class="pad_top_down">
           	<p class="post_left pad_size1">{{page.cont}}</p>
          </div>                  
        {% endif %}
        {% if page.cont %}    
         <div class="text_center pad_size1 pad_top_down">
            <a href="{{page.linkUrl}}" target="_blank" class="btn btn--success">[상품구매 바로가기]</a>
         </div>          
        {% else %}    
        -
        {% endif %}
<div  class="text_center">           
<ins class="adsbygoogle"
     style="display:block; text-align:center;"
     data-ad-layout="in-article"
     data-ad-format="fluid"
     data-ad-client="ca-pub-3309468445717403"
     data-ad-slot="3199420661"></ins>
</div>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        {% if page.author %}
          <div class="text_center pad_size1">
            <span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span>
          </div>
        {% endif %}
        <div class="pad_size1">
          <span>{{site.baseWord}}</span>
        </div>
       {% include disqus.html %} 
       {% include post_list.html %}        
    </article>   
    </div>
</div>
