---
layout: default
---
<div class="page-container">
    <div class="content">
    <article>        
        {% if page.author %}
        <div class="meta"><span><i class="fa fa-calendar-o" aria-hidden="true"></i> {{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span>
        	<span><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {{page.author}}</span>
        </div>
        {% endif %}
        
        {% if page.img %}    
         <p style="text-align:center"><a href="{{page.linkUrl}}" target="_blank"><img class="feat-image" src="{{page.img}}" alt="{{page.title}}"></a></p>
        {% endif %}
        
        {{page.content | markdownify}}
       <br/>
       <h1 class="page-title">[특가] {{page.title}}</h1>
       <br/>
       {% if page.price %}    
       <p style="text-align:center">
          <a href="{{page.linkUrl}}" target="_blank">
             <h2>[상품정보 및 가격확인 바로가기]</h2>
          </a>
       </p>
         <br/><br/>
         <div>
         	<p style="text-align:left">{{page.cont}}</p>         
        </div>
         <br/>
          
        {% endif %}
       <br>
       <p style="text-align:center">
          <a href="{{page.linkUrl}}" target="_blank">
             <h2 style="text-align: center;">[상품구매 바로가기]</h2>
          </a>
       </p>

       <br>
       <br>
       <br>
       <hr>
       <br>

       {{site.baseWord}}
       <p></p>       
        
        {% include post_list.html %} 
        
    </article>   
    </div>
</div>
